/Assignment/SE170333_LeVanHuyHoang_LAB211_01/build/
/Assignment/SE170333_LeVanHuyHoang_LAB211_01_ver2/build/
/Assignment/SE170333_LeVanHuyHoang_LAB211_01_ver2/dist/
/Assignment/SE170333_LeVanHuyHoang_LAB211_02/nbproject/private/
/Assignment/StoreManagement/nbproject/private/
/Assignment/LAB211_01_ver3/nbproject/private/
/Assignment/SE170333_LeVanHuyHoang_LAB211_01_ver3/nbproject/private/
/Assignment/Store_Management_ver3/nbproject/private/
/Assignment/SE170333_LeVanHuyHoang_LAB211_02/build/
/Assignment/SE170333_LeVanHuyHoang_LAB211_02/dist/