<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <h3>Student management system</h3>
    <h4 class="my-2">Resigter</h4>
    <hr/>

    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                                <form action="#" th:action="@{/register/process}" th:object="${registerUser}" method="POST">
                                    <div th:if="${message}">
                                        <p class="alert alert-danger" th:text="${message}"></p>
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form3Example1cg">User Name</label>
                                        <input type="text" th:field="*{userName}" placeholder="Username (*)" name="username" id="form3Example1cg" class="form-control form-control-lg" />
                                        <span th:if="${#fields.hasErrors('userName')}">
                                            <ul>
                                               <li th:each="e: ${#fields.errors('userName')}" th:text="${e}"></li>
                                            </ul>
                                        </span>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3cg">Pass word</label>
                                        <input type="password" th:field="*{password}" placeholder="Password (*)" name="password" id="form3Example3cg" class="form-control form-control-lg" />
                                        <span th:if="${#fields.hasErrors('password')}">
                                            <ul>
                                               <li th:each="e: ${#fields.errors('password')}" th:text="${e}"></li>
                                            </ul>
                                        </span>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form3Example4cg">First name</label>
                                        <input type="text" th:field="*{firstName}" placeholder="First name (*)" name="password" id="form3Example4cg" class="form-control form-control-lg" />
                                        <span th:if="${#fields.hasErrors('firstName')}">
                                            <ul>
                                               <li th:each="e: ${#fields.errors('firstName')}" th:text="${e}"></li>
                                            </ul>
                                        </span>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form3Example5cg">Last name</label>
                                        <input type="text" th:field="*{lastName}" placeholder="Last name (*)" name="password" id="form3Example5cg" class="form-control form-control-lg" />
                                        <span th:if="${#fields.hasErrors('lastName')}">
                                            <ul>
                                               <li th:each="e: ${#fields.errors('lastName')}" th:text="${e}"></li>
                                            </ul>
                                        </span>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form3Example6cg">Email</label>
                                        <input type="email" th:field="*{email}" placeholder="Email (*)" name="password" id="form3Example6cg" class="form-control form-control-lg" />
                                        <span th:if="${#fields.hasErrors('email')}">
                                            <ul>
                                               <li th:each="e: ${#fields.errors('email')}" th:text="${e}"></li>
                                            </ul>
                                        </span>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit"
                                                data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">already have an account <a th:href="@{/showLoginPage}"
                                                                                                                        class="fw-bold text-body"><u>Login here</u></a></p>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>